<div class="quizz__container">
  <app-quizz-header [title]="quiz.title" [otherQuizzesTitles]="otherQuizzesTitles" (playQuizIndex)="onClick($event)"></app-quizz-header>

  <div *ngIf="finished; else elseBlock">
    <app-quizz-results
      [result]="answerSelected"
    ></app-quizz-results>
  </div>
  <ng-template #elseBlock>

    <app-quizz-questions
      *ngIf="quiz?.questions?.length"
      [question]="quiz.questions[questionIndex].question"
    ></app-quizz-questions>

    <app-quizz-options
      *ngIf="quiz?.questions?.length"
      [quizzOptions]="quiz.questions[questionIndex].options"
      (quizzAnswer)="onAnswerSelected($event)"
    ></app-quizz-options>
  </ng-template>
</div>
