<div class="quizz__container">
  <app-quizz-header [title]="title"></app-quizz-header>

  <div *ngIf="finished; else elseBlock">
    <app-quizz-results
      [result]="answerSelected"
    ></app-quizz-results>
  </div>
  <ng-template #elseBlock>
    <app-quizz-questions
      [question]="questionSelected.question"
    ></app-quizz-questions>

    <app-quizz-options
      [quizzOptions]="questionSelected.options"
      (quizzAnswer)="onAnswerSelected($event)"
    ></app-quizz-options>
  </ng-template>
</div>
